<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts-list</title>
</head>
<body>
    <h1 style="color: blue; text-align: center;">posts list page</h1>

    {% if posts.0.is_featured %}
        <h2 style="color: red;">Featured posts: {{ posts.0.title }}</h2>
   
    {% endif %}

    <h2>Loop</h2>
    <ul>
        {% for post in posts %}
            <li>{{forloop.counter}}. {{ post.title }}</li>
        {% endfor %}
    </ul>


</body>
</html>